<div class="container">
    <h3>Edward VanDenberg</h3>
    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <div class="card-header">
                    Edward VanDenberg
                </div>
                <div class="card-body">
                    <h5 class="card-title">Saratoga County, NY</h5>
                    <p class="card-text">Born: 1845 in Waterford, NY<br />Died: 1900 in Chicago, IL</p>
                </div>
            </div>
        </div>
        <div class="col-lg-9">The VanDenberg family immigrated from Holland in the mid 1600s and settled in the Albany, New York area. Edward's great-grandfather and great-uncles fought in the American Revolutionary War in 1776. There is ancedotal evidence that Edward's family
            helped buld the Erie Canal.
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>Edward was born in 1845 in Waterford, New York. Waterford is at the confluence of the Mohawk and Hudson rivers and is the eastern gateway to the Erie Canal. I can imagine Edward and his older brothers, Nathaniel and Jesse, watched the boats
                and barges move from New York City to Buffalo. There is ancedotal evidence that Edward's father ran a ferry that crossed the Hudson.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>By the time Edward was 17, he was living in Buffalo working as a compositor for the Buffalo Christian Advocats Office. Here is his letter of recommendation, now over 150 years old, made into a photograph, then posted on heavy cardboard:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6"><img src="./../../../assets/edward_vandenburg_recommendation_letter.jpg" alt="A letter of recommendation" style="width: 100%"></div>
        <div class="col-lg-6">
            <p style="font-size: xx-large;">"To Whom it may concern, this may certify that Edward Vandeberg (sic) whas appointed to my in A.D. 1862 as compositor in the Buffalo Christian Advocats Office, and continuted in my employ until I sold on in 1862. Since which he has remained
                in the same office until quite recently, filling the position of foreman most of his time. His conduct has been exemplary, and his application and attention to the duties in the office very satisfactory; and I take pleasure in starting
                that I regard him as a young man of good principles, strict integrity, and industrious habits, whose success in life I sincerely hope may by equal to deserts."</p>
            Buffalo September 21, 1864<br /> Levius S Church<br /> Bethel Chaplain
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>By 1866, we find Edward in Chicago listed as a student at Bryant and Stratton's Business College (Clark and Washington) in the 1866 Chicago City Directory. </p>
        </div>
    </div>
</div>