<div class="container">
    <h3>Edward Vandenburgh</h3>
    <ul>
        <li>
            <div><span></span>
                <div class="title">Vandenburgh's in America</div>
                <div class="info">
                    <p>
                        The Vandenburgh family immigrated from Holland in the mid 1600s and settled in the Albany, New York area. Edward's great-grandfather and great-uncles fought in the American Revolutionary War in 1776. There is ancedotal evidence that Edward's family helped
                        buld the Erie Canal.
                    </p>
                </div>
            </div><span class="number"><span>1600s</span><span>1800s</span></span>
        </li>
        <li><span></span>
            <div>
                <div class="title">Born</div>
                <div class="info">
                    <p>Edward was born in 1845 in Waterford, New York. Waterford is at the confluence of the Mohawk and Hudson rivers and is the eastern gateway to the Erie Canal. I can imagine Edward and his older brothers, Nathaniel and Jesse, watching
                        the boats and barges move into the canal on their sorjourn to and from New York City and Buffalo. There is ancedotal evidence that Edward's family ran a ferry that crossed the Hudson.</p>
                </div>
            </div><span class="number"><span>1845</span><span>1862</span></span>
        </li>
        <li>
            <div><span></span>
                <div class="title">Buffalo</div>
                <div class="info">
                    <p>By the time Edward was 17, he was living in Buffalo with his family and working as a compositor for the Buffalo Christian Advocats Office. Here is his letter of recommendation, now over 150 years old, made into a photograph, then posted
                        on heavy cardboard:</p>
                    <p>
                        <img src="./../../../assets/edward_vandenburg_recommendation_letter.png" alt="A letter of recommendation" style="width: 100%">
                    </p>
                    <p>"To whom it may concern, this may certify that Edward Vandeberg (sic) was appointed to me in A.D. 1862 as compositor in the Buffalo Christian Advocats Office, and continuted in my employ until I sold out in 1863. Since which he has
                        remained in the same office until quite recently, filling the position of foreman most of his time. His conduct has been exemplary, and his application and attention to the duties in the office very satisfactory; and I take pleasure
                        in stating that I regard him as a young man of good principles, strict integrity, and industrious habits, whose success in life I sincerely hope may by equal to deserts."</p>
                    Buffalo September 21, 1864<br /> Levius S Church<br /> Bethel Chaplain
                </div>
            </div><span class="number"><span>1862</span><span>1864</span></span>
        </li>
        <li>
            <div><span></span>
                <div class="title">In Chicago</div>
                <div class="info">
                    <p>By 1866, we find Edward in Chicago listed as a student at Bryant and Stratton's Business College (Clark and Washington) in the 1866 Chicago City Directory. This detail is interesting, considering there was a student in the same program
                        in the same year by the name of George Burdick. George may have been the the half-brother of Ida Schreffler, whom would marry Edward in 1875.</p>
                </div>
            </div><span class="number"><span>1866</span><span>1869</span></span>
        </li>
        <li>
            <div><span></span>
                <div class="title">Codify</div>
                <div class="info">Let&apos;s make coolest things in css</div>
                <div class="type">Review</div>
            </div><span class="number"><span>15:00</span><span>17:45</span></span>
        </li>
        <li>
            <div><span></span>
                <div class="title">Codify</div>
                <div class="info">Let&apos;s make coolest things in css</div>
                <div class="type">Review</div>
            </div><span class="number"><span>15:00</span><span>17:45</span></span>
        </li>
    </ul>
</div>